
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.centered {
  justify-content:center;
  align-items:center;
}

html {
  position: relative;
  min-height: 100%;
}
.container {
  padding-bottom: 200px;
}

#footer {
  position: absolute;
  bottom: -180px;
  width: 100%;
  background-color: #3b3b3b;
  color: #FFF;
}